<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>

        <title>Settings | <%= data.username %>
        </title>
</head>

<body>

    <div class="bg-gray-100">

        <div class="h-screen w-screen flex overflow-hidden bg-gray-200">
            <!-- Sidebar -->
            <%- include("../partials/sidebar.ejs") %>
            <!-- Content -->
            <div class="flex-1 flex flex-col overflow-y-auto no-scrollbar">
                <!-- Navbar -->
                <div class="bg-white shadow">
                    <div class="container mx-auto">
                        <div class="flex justify-between items-center py-4 px-2">
                            <button class="text-gray-500 hover:text-gray-600" id="open-sidebar">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 6h16M4 12h16M4 18h16"></path>
                                </svg>
                            </button>
                            <div class="w-2/6 flex justify-end items-center">
                                <div class="flex  justify-around items-center w-32 h-8">
                                    <img class="w-7 h-7 rounded-full" src="/resources/profile_pic.jpg">
                                    <h1 class="font-semibold">
                                        <%= data.username %>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Body -->
                <div class="flex-1 p-4">
                    <div class="bg-white overflow-hidden shadow rounded-lg border">
                        <div class="px-4 py-5 sm:px-6">
                            <h3 class="text-lg leading-6 font-medium text-blue-600">
                                Account Details | <%= data.username %>
                            </h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                Your Poppy ID and username are public and can be viewed by others on your profile. Only
                                users with your Poppy ID can search for and view your profile. Your email address
                                remains private and is not visible to anyone.
                            </p>
                        </div>
                        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                            <dl class="sm:divide-y sm:divide-gray-200">
                                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        Username
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <%= data.username %>
                                    </dd>
                                </div>
                                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        Email
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <%= data.email %>
                                    </dd>
                                </div>
                                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        Poppy ID
                                    </dt>
                                    <dd class="mt-1 text-sm text-red-500 sm:mt-0 sm:col-span-2 cursor-pointer"
                                        id="poppy_id_disp" title="Click To Copy">
                                        <%= data.poppy_id %>
                                    </dd>
                                </div>
                                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        Account Creation Date
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <%= data.created_at %>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                </div>



                <div class="flex items-center justify-between py-8 px-4">
                    <div class="flex-1">
                        <div class="bg-white rounded-lg shadow-lg p-6">
                            <h2 class="text-gray-600 text-2xl font-bold mb-4">Log out</h2>
                            <p class="text-gray-700 mb-4">Logging out will delete your current session, which means
                                you'll need to log in again with your credentials to access your account.</p>
                            <div class="text-right">
                                <form action="/logout" method="post">
                                    <button
                                        class="bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded shadow-md">
                                        Log out
                                    </button>
                                </form>
                            </div>

                            <h2 class="text-red-600 text-2xl font-bold mb-4">Account Deletion</h2>
                            <p class="text-gray-700 mb-4">Deleting your account is irreversible and will remove all your
                                information from our database, including messages, media, and account details. However,
                                please note that messages you've sent may still be visible to others in their
                                conversations.</p>
                            <div class="text-right">
                                <form action="/reqestAccountDeletion" method="post">
                                    <button
                                        class="bg-red-600 hover:bg-red-500 text-white font-bold py-2 px-4 rounded shadow-md">
                                        Delete Account
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <script src="scripts/sweetalert2.min.js"></script>
    <script>
        const sidebar = document.getElementById('sidebar');
        const openSidebarButton = document.getElementById('open-sidebar');

        openSidebarButton.addEventListener('click', (e) => {
            e.stopPropagation();
            sidebar.classList.toggle('-translate-x-full');
        });

        document.addEventListener('click', (e) => {
            if (!sidebar.contains(e.target) && !openSidebarButton.contains(e.target)) {
                sidebar.classList.add('-translate-x-full');
            }
        });

        const poppy_id_disp = document.getElementById("poppy_id_disp");
        poppy_id_disp.addEventListener('click', () => {
            navigator.clipboard.writeText("<%= data.poppy_id %>"); // Writing text to clipboard
            const Toast = Swal.mixin({
                    toast: true,
                    position: "top-start",
                    showConfirmButton: false,
                    timer: 1000
                });
                Toast.fire({
                    icon: "info",
                    title: "Poppy ID copied to clipboard"
                });
        });
    </script>
    <%- include("../partials/gsp_client.ejs") %>
</body>

</html>